import Els{{properCase name}} from '../src/{{name}}.vue'

export default {
  title: 'Els{{properCase name}}',
  component: 'Els{{properCase name}}'
}

export const {{properCase name}} = _ => ({
  components: { Els{{properCase name}} },
  template:`
    <div>
      <els-{{name}}></els-{{name}}>
    </div>
  `
})